*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
}

body{
    height: 100vh;
    background-color: hsl(210, 46%, 95%);
}

#content{
    background-color:white;
    position: absolute;
    width: 85%;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    overflow: hidden;
    /*display*/
    display: flex;
    flex-direction: column;
}

#photo{
    background-image: url('images/drawers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 40%;
    flex-basis: 40%;
}

#article{

    flex-basis: 45%;
    margin-top:5%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.intro{
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    flex-basis: 40%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 1.6rem;
}

.description{
    color: hsl(212, 23%, 69%);
    flex-grow: 1;
    font-size: 1.3rem;
    
   
}

#author{
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    display: flex;
    padding-right:5%;
    padding-left: 5%;

}
.avatar{
    margin-left: 5%;
    flex-basis: 25%;
    overflow: hidden;
    padding-right: 5%;
    
    
}
.avatar img{
    
    width: 100%;
    height: auto;
    border-radius: 50%;
  
}

.aboutAuthor{
    flex-basis: 60%;
}
.aboutAuthor p{
    font-size: 1.2rem;
}

.nameOfAuthor{
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    padding-bottom: 3%;
}

.date{
    color:hsl(212, 23%, 69%); 
}


.share{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
  
}



.share .img{
border: 1px solid hsl(210, 46%, 95%);
padding:8%;
background-color: hsl(210, 46%, 95%);
border-radius: 50%;

}

#editAuthor{
    display: none;
}

.socialMedia{
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: hsl(217, 19%, 35%);
    /*display*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: scale(0);
}

.active{
    transform: scale(1);
   
}

.shareSocial{
    background-color: hsl(214, 17%, 51%);
    margin: 5%;
    padding: 2%;
    border-radius: 50%;
    cursor: pointer;

}

.sectionName{
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    color: hsl(212, 23%, 69%);
}


/*media*/

@media all and (min-width: 600px), (orientation:landscape){
    
    #content{
        position: relative;
        display: block;
        height: 50vh;
        width: 60%;
        overflow: visible ;
    }

    #photo{
        position: absolute;
        width: 40%;
        height: 100%;
        background-position: left;
    }

    #article{
        position: absolute;
        margin-left: 45%;
        width: 50%;
        height: 80%;
    }

    #author{
        position: absolute;
        margin-left: 35%;
        top: 70%;
        width: 65%;
        height: 20%;
    }

    .share{
        position: absolute;
        right: 0;
        height: 20%;
        width: 20%;
        
    }

    .avatar{
        position: absolute;
        width: 15%;
        height: auto;
        left: 10%;
    }

   .nameOfAuthor, .date{
       margin-left: 10%;
       
   }

   .intro {
       font-size: 1.8rem;
       padding-bottom: 2%;
   }

   .description{
       font-size: 1.5rem;
   }

   .socialMedia{
       position: absolute;
       top: -50%;
       left: 70%;
       width: 40%;
       height: 40%;
       padding: 4%;
       border-radius: 3%;
   }

  .socialMedia .shareSocial{
       display: none;
   }


  .socialMedia::after{
      content: '';
      width: 20%;
      height: 70%;
      transform: rotate(45deg);
      top: 30%;
      background-color: hsl(217, 19%, 35%);
      z-index: -1;
      position: absolute;
  }



}
